.template_faq {
  background: #edf3fe none repeat scroll 0 0;
}

.panel-group {
  background: #fff none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.04);
  margin-bottom: 0;
  padding: 30px;
}

#accordion .panel {
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  margin: 0 0 15px 10px;
}

#accordion .panel-heading {
  border-radius: 30px;
  padding: 0;
}

#accordion .panel-title a {
  background: #2e307b none repeat scroll 0 0;
  border: 1px solid transparent;
  border-radius: 30px;
  text-align: center;
  font-family: Montserrat;
  color: #fff;
  display: block;
  font-size: 24px;
  font-weight: 600;
  padding: 12px 20px 12px 50px;
  position: relative;
  transition: all 0.3s ease 0s;
}

#accordion .panel-title a.collapsed {
  background: #00bac9 none repeat scroll 0 0;
  border: 1px solid #ddd;
  color: #333;
}

#accordion .panel-title a::after,
#accordion .panel-title a.collapsed::after {
  background: #2e307b none repeat scroll 0 0;
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.58);
  color: #fff;
  content: "\f078";
  font-family: FontAwesome;
  font-size: 25px;
  height: 55px;
  left: -20px;
  line-height: 55px;
  position: absolute;
  text-align: center;
  top: -5px;
  transition: all 0.3s ease 0s;
  width: 55px;
}

#accordion .panel-title a.collapsed::after {
  background: #00bac9 none repeat scroll 0 0;
  border: 1px solid #ddd;
  box-shadow: none;
  color: #333;
  content: "\f054";
}

#accordion .panel-body {
  background: transparent none repeat scroll 0 0;
  border-top: medium none;
  padding: 20px 25px 10px 9px;
  position: relative;
}

#accordion .panel-body p {
  /* border-left: 1px dashed #8c8c8c; */
  padding-left: 25px;
  margin-bottom: 2px;
  padding-bottom: 10px;
}

.seminar-text h2 {
  font-family: 'roboto';
  text-align: center;
}

.seminar-text h3 {
  font-family: 'roboto';
  text-align: center;
}

.seminar-text p {
  font-family: 'roboto';
  text-align: center;
  font-size: 20px;
  text-align: justify;
}

.seminarbold .bold {
  font-size: 19px;

}

.imgseminar {
  margin-left: 54px;
  height: 400px;
  width:800px;
}